{% extends 'base.html' %}

{% block page_head_title %}
    Recorded Workouts
{% endblock %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('recorded_workouts.static', filename='css/recorded_workouts.css') }}"/>
{% endblock %}

{% block page_body_content %}
    <div class='page_content'>
      {# Header #}
      {% block page_body_header %}
          <div class="head">
            <h2>Workout Recordings</h2>
          </div>
      {% endblock %}

      {# Main #}
      {% block page_body_main %}
          <div class="grid">

            {% for video in workouts %}
              <div class="rec_workout">
                  <h3>{{ video[0] }}</h3>
                  <!-- link to youtube -->
                  <iframe src="{{ video[1] }}"></iframe>
              </div>
            {% endfor %}

            <div class="more_info">
              <p>For more, go visit us in our <a href="http://www.youtube.com/">Youtube</a> channel!</p>
            </div>

          </div>
      {% endblock %}
    </div>
{% endblock %}

{# JS #}
{% block page_body_js %}

{% endblock %}