{% extends 'base.html' %}

{% block page_head_title %}
  Home Page
{% endblock %}

{% block page_head_css %}
  <link rel="stylesheet" href="{{ url_for('profile.static', filename='css/profile.css') }}"/>
{% endblock %}

{% block page_body_content %}

  {# Header #}
  {% block page_body_header %}
  {% endblock %}

  {# Main #}
  {% block page_body_main %}

    <div class="page_content">
        <h2>My Profile</h2>
        <div class="profile_general_container">

            <!-- menuTabs -->
            <div class="menuTabs">
                <button class="tablinks" onclick="openTab(event, 'My_Details')">My Details</button>
                <button class="tablinks" onclick="openTab(event, 'Payment_Methods')">Payment Methods</button>
                <button class="tablinks" onclick="openTab(event, 'My_Orders')">My Entry Ticktes</button>
                <button class="tablinks" onclick="openTab(event, 'My_Workouts')">My Workouts</button>
            </div>
            <!-- end of menuTabs -->

            <div id="My_Details" class="tabcontent">
                <h3>My Details</h3>
                <hr>
                <div class="info_container">
                    <table>
                        <tr>
                            <td class="row_head">Full Name:</td>
                            <td><input class="nonEdit" value="{{ customer.fullName }}" name="name" id="inputFullName"
                                    disabled required/></td>
                        </tr>
                        <tr>
                            <td class="row_head">Email:</td>
                            <td><input class="nonEdit" value="{{ customer.email }}" name="email" id="inputEmail" disabled required/>
                            </td>
                        </tr>
                        <tr>
                            <td class="row_head">Phone Number:</td>
                            <td><input class="nonEdit" value="{{ customer.phoneNumber }}" name="phone_number" id="inputPhoneNumber"
                                    disabled required/></td>
                        </tr>
                        <tr>
                            <td class="row_head">City:</td>
                            <td><input class="nonEdit" value="{{ customer.city }}" name="city" id="inputCity" disabled required/></td>
                        </tr>
                        <tr>
                            <td class="row_head">Street:</td>
                            <td><input class="nonEdit" value="{{ customer.street }}" name="street" id="inputStreet" disabled required/></td>
                        </tr>
                        <tr>
                            <td class="row_head">Apt. Number:</td>
                            <td><input class="nonEdit" value="{{ customer.apartmentNum }}" name="aprtNum" id="inputAprtNum" disabled required/></td>
                        </tr>
                        <tr>
                            <td class="row_head">Zipcode:</td>
                            <td><input class="nonEdit" value="{{ customer.postalCode }}" name="zipcode" id="inputZipCode" disabled required/></td>
                        </tr>
                        <tr>
                            <td class="row_head">Password:</td>
                            <td><input class="nonEdit" type="password" value="{{ customer.password }}" name="password" id="inputPassword" disabled required/></td>
                        </tr>
                    </table>
                    <input type="button" class="upButton" id="updateDetails" value="Update Details"
                        onclick="editForm()">
                    <input type="button" class="upButton" id="submitUpdate" value="Submit Update" onclick="submitForm()"
                        hidden>
                </div>
            </div>


            <div id="Payment_Methods" class="tabcontent" style="display: none">
                <h3>Payment methods</h3>
                <hr style="color: #ad948c">
                <div class="tabcontent_grid_container">
                    <div class="info_container">
                        <table>
                            <tr>
                                <td class="row_head">
                                    Card Owner Full Name:
                                </td>
                                <td>
                                    <input type="text" id="inputNameOnCard" value="{{ customer.NameOnCard }}" class="nonEdit"
                                           disabled>
                                </td>
                            </tr>
                            <tr>
                                <td class="row_head">
                                    Card Owner ID Number:
                                </td>
                                <td>
                                    <input type="text" id="inputCardOwnerId" value="{{ customer.CardOwnerID }}" class="nonEdit"
                                           disabled>
                                </td>
                            </tr>
                            <tr>
                                <td class="row_head">
                                    Credit Card:
                                </td>
                                <td>
                                    <input type="text" id="inputCreditCard" value="{{ customer.CreditCardNumber }}" class="nonEdit"
                                        disabled>
                                </td>
                            </tr>
                            <tr>
                                <td class="row_head">
                                    Expiration Month:
                                </td>
                                <td>
                                    <input type="text" value="{{ customer.ExpMonth }}" id="inputExpirationMonth" class="nonEdit" disabled>
                                </td>
                            </tr>
                            <tr>
                                <td class="row_head">
                                    Expiration Year:
                                </td>
                                <td>
                                    <input type="text" value="{{ customer.ExpYear }}" id="inputExpirationYear" class="nonEdit" disabled>
                                </td>
                            </tr>
                            <tr>
                                <td class="row_head">
                                    CVV:
                                </td>
                                <td>
                                    <input type="text" value="{{ customer.CVV }}" id="inputCVV" class="nonEdit" disabled>
                                </td>
                            </tr>
                        </table>
                        <input type="button" class="upButton" id="updateCardInfo" value="Update"
                            onclick="editCardInfo()">
                        <input type="button" class="upButton" id="submitCardInfo" value="Submit Update"
                            onclick="submitCardInfo()" hidden>
                    </div>
                </div>
            </div>

            <div id="My_Orders" class="tabcontent" style="display: none">
                <h3>My Ticket Entries</h3>
                <hr>
                <div class="tabcontent_grid_container">
                    <div class="info_container">
                        <table>
                            <tr>
                                <th>Order Id</th>
                                <th>Order Date</th>
                                <th>Product Type</th>
                                <th>Order Price</th>
                                <th>Entries Left</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>12/11/21</td>
                                <td>Individual training</td>
                                <td>40 ILS</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>14/11/21</td>
                                <td>Individual training</td>
                                <td>40 ILS</td>
                                <td>1</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div id="My_Workouts" class="tabcontent" style="display: none">
                <h3>My Workouts</h3>
                <hr>
                <div class="tabcontent_grid_container">
                    <div class="info_container">
                        <table>
                            <tr>
                                <th>Order Id</th>
                                <th>Order Date</th>
                                <th>Product Type</th>
                                <th>Order Price</th>
                                <th>Entries Left</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>12/11/21</td>
                                <td>Individual training</td>
                                <td>40 ILS</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>14/11/21</td>
                                <td>Individual training</td>
                                <td>40 ILS</td>
                                <td>1</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

  {% endblock %}



         {% block page_body_js %}
    <script src="{{ url_for('profile.static', filename='js/profile.js') }}"></script>

        {% endblock %}
    {% endblock %}











