{% extends 'base.html' %}

{% block page_head_title %}
  Home Page
{% endblock %}

{% block page_head_css %}
  <link rel="stylesheet" href="{{ url_for('homepage.static', filename='css/homepage.css') }}"/>
{% endblock %}

{% block page_body_content %}

  {# Header #}
  {% block page_body_header %}
    <div class="headerContainer">
      <div class="header">
        <h1>Welcome to Michal's Pilates</h1>
      </div>
    </div>
  {% endblock %}

  {# Main #}
  {% block page_body_main %}
    <div class="page_content">
      <div class="home_div">
        <h2>About Us</h2>
        <p>Pilates equipment studio and mat classes equipped with the most advanced equipment and accessories on the
          market.
          The studio offers lessons in a pleasant atmosphere, in small groups while ensuring maximum professionalism, and
          tailoring the activities especially for you.
          In the studio we will accompany you all the way to achieving results and improving posture, range of motion and
          flexibility.
        </p>
        <a href="about.html">Read more ></a>
      </div>

      <div class="home_div">
        <h2>Our Workouts</h2>
        <p>We invite you to explore and learn about the workouts we offer, and even try a home workout from variety of
          recorded workouts</p>
        <a href="workouts.html">Read more ></a>
      </div>

      <div class="home_div">
        <h2>Check out our pricing</h2>
        <p>We offer multiple options - choose the one that suits you most</p>
        <a href="price_list.html">Read more ></a>
      </div>

    </div>
  {% endblock %}

{% endblock %}