{% extends 'base.html' %}

{% block page_head_title %}
  Contact us!
{% endblock %}

{% block page_head_css %}
 <link rel="stylesheet" href="{{ url_for('contact_page.static', filename='css/contact_page.css') }}"/>
{% endblock %}

{% block page_body_content %}

  {# Header #}
  {% block page_body_header %}
<div class="content" id="contact_header">
    <h2 class="header">Contact us</h2>
  </div>
  {% endblock %}

  {# Main #}
  {% block page_body_main %}
<!-- address -->
  <div class="content c1" id="address">
    <div class="icon">
      <i class="fa fa-map-marker" aria-hidden="true"></i>
    </div>
    <div class="text">
      <h3>Address</h3>
      <p> 101 Ahuza St. Ra'anana </p>
    </div>
  </div>

  <!-- phone -->
  <div class="content c1" id="phone">
    <div class="icon">
      <i class="fa fa-phone" aria-hidden="true"></i>
    </div>
    <div class="text">
      <h3>Phone us!</h3>
      <p>050-0000000</p>
    </div>
  </div>

  <!-- email -->
  <div class="content c1" id="email">
    <div class="icon">
      <i class="fa fa-envelope-o" aria-hidden="true"></i>
    </div>
    <div class="text">
      <h3>Email</h3>
      <p>michalspilates@gmail.com</p>
    </div>
  </div>

  <!-- map -->
  <div class="content" id="map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3410.5300465778696!2d34.79736591417295!3d31.261430567012233!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1502665ef26e8153%3A0x4c9c46363eb055b1!2sDavid%20Ben%20Gurion%20Blvd%201%2C%20Beersheba!5e0!3m2!1sen!2sil!4v1637773155327!5m2!1sen!2sil"
      width="100%" height="100%" style="border:0; border-radius: 20px;" allowfullscreen="" loading="lazy"></iframe>
  </div>

  <!-- form -->
  <div class="content c1" id="form">
    <form>
      <!-- message header -->
      <div class="content" id="message_header">
        <h3>Send Message</h3>
      </div>
      <table>
        <tr>
          <!-- full name -->
          <td>Full Name:</td>
          <td><input type="text" name="input_full_name" id="input_full_name" required="required"></td>
        </tr>
        <tr>
          <!-- email -->
          <td>Email:</td>
          <td><input type="email" name="input_email" id="input_email" required="required" pattern="\S+@\S+\.\S+"></td>
        </tr>
        <tr>
          <!-- message box -->
          <td colspan="2">Type Your Message:</td>
        </tr>
        <tr>
          <td colspan="2"><textarea name="input_message" id="input_message" required="required"></textarea></td>
        </tr>
      </table>
      <!-- error message box -->
      <!-- <p id="error_msg"></p> -->
      <!-- send btn -->
      <div class="inputBox" id="send_btn">
        <input class="btn_general" type="submit" id="" value="Send" onclick="allLetter()">
      </div>
    </form>
  </div>
</section>  {% endblock %}

{% endblock %}


{% block page_body_js %}
    <script src="contact_page.js"></script>
  {% endblock %}

