{% extends 'base.html' %}

{% block page_head_title %}
    Log in
{% endblock %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('login.static', filename='css/login.css') }}"/>
{% endblock %}

{% block page_body_content %}

    {# Main #}
    {% block page_body_main %}
        <div class="content">
            <form action="/login" method='post'>
                <h1>Log in</h1>
                <p>Welcome back!</p>
                <!-- email -->
                <label class="" for="email"><b>Email Address:</b></label><br>
                <input class="user_input" name="email" id="email" placeholder="Enter your email address" required
                       type="email"
                       pattern="\S+@\S+\.\S+"><br>
                <!-- password -->
                <label class="" for="password"><b>Password:</b></label><br>
                <input class="user_input" name="password" id="password" placeholder="Enter your password" required
                       type="password"
                       minlength="6"><br>
                <!-- error message box -->
                <p id="error_msg"></p>
                <!-- log in btn -->
                <input type="submit" value="Log in" class="btn_general" id="Loginbtn" onclick="checkLogin()"><br><br>
                <a href="/signup" id="sign_up_link">Or Sign up here!</a>
            </form>
        </div>

    {% endblock %}

{% endblock %}


{% block page_body_js %}
    <script src="{{ url_for('login.static', filename='js/login.js') }}"></script>
{% endblock %}
