{% extends 'base.html' %}

{% block page_head_title %}
    Price list
{% endblock %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('price_list.static', filename='css/price_list.css') }}"/>
{% endblock %}

{% block page_body_content %}
    <div class="page_content">
        {# Header #}
        {% block page_body_header %}
            <div class="about_us_header">
                <h2>Prices</h2>
            </div>
        {% endblock %}

        {# Main #}
        {% block page_body_main %}
            <div class="price_list">
                <h4>List of possible routes:</h4>
                <br>
                <form action="/payment_page"><!--method="post"-->
                    {% for workout in workouts %}
                        <input type="radio" id="{{ workout[0] }}" name="product" value="{{ workout[0] }}" class="radio" required>
                        <label for="{{ workout[0] }}">
                            {{ workout[0] }} .......................................... {{ workout[1] }} ILS
                        </label><br>
                    {% endfor %}
                    <br>
                    {% if session.user %}
                        <input class="btn_general" type="submit" value="Quick purchase">
                    {% else %}
                        <p>To purchase - please Log in or Sign up first</p>
                        <input class="btn_general" type="submit" value="Quick purchase" disabled>
                    {% endif %}
                </form>
            </div>
        {% endblock %}
    </div>
{% endblock %}


{% block page_body_js %}
    <script src="{{ url_for('price_list.static', filename='js/price_list.js') }}"></script>
{% endblock %}
